<%= form_with(model: usuario,:id => 'formulario_usuarios', local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rfc %>
    <%= form.text_field :rfc %>
    <%= form.hidden_field :id %>
  </div>

  <div class="field">
    <%= form.label :curp %>
    <%= form.text_field :curp %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :paterno %>
    <%= form.text_field :paterno %>
  </div>

  <div class="field">
    <%= form.label :materno %>
    <%= form.text_field :materno %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.radio_button :sexo,'F', :checked => true %> Femenino
    <%= form.radio_button :sexo,'M'%> Masculino
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.select :estado_id, @estados.collect{|e| [e.nombre,e.id]}, {include_blank: "Selecciona uno."} %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
