<p id="notice"><%= notice %></p>
<h1>Usuarios</h1>

<%= form_tag(buscar_usuario_path) do%>
  <table>
    <tr>
      <th>RFC</th>
      <td><%= text_field_tag "rfc"%></td>
    </tr>
    <tr>
      <th>CURP</th>
      <td><%= text_field_tag "curp"%></td>
    </tr>
    <tr>
      <th>NOMBRE</th>
      <td><%= text_field_tag "nombre"%></td>
    </tr>
    <tr>
      <th>PATERNO</th>
      <td><%= text_field_tag "paterno"%></td>
    </tr>
    <tr>
      <th>MATERNO</th>
      <td><%= text_field_tag "materno"%></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit_tag  "Buscar "%></td>
    </tr>
  </table>
<%end%>

<table>
  <thead>
    <tr>
      <th>Rfc</th>
      <th>Curp</th>
      <th>Nombre</th>
      <th>Paterno</th>
      <th>Materno</th>
      <th>Sexo</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Login</th>
      <th>Password</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.rfc %></td>
        <td><%= usuario.curp %></td>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.paterno %></td>
        <td><%= usuario.materno %></td>
        <td><%= usuario.sexo %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.correo %></td>
        <td><%= usuario.login %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.estado.nombre %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: '¿Desea eliminar este elemento?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @usuarios , previous_label: 'Anterior', next_label: 'Siguiente'%>
<br>

<%= link_to 'New Usuario', new_usuario_path %>
