<p id="notice"><%= notice %></p>
<h1>Estados</h1>
<table>
	<tr>
		<td>Nombre</td>
		<td>Descripción</td>
		<td>País</td>
		<td></td>
	</tr>
    <% @estados.each do |estado| %>	
		<tr>
			<td><%= estado.nombre %></td>
			<td><%= estado.descripcion %></td>
			<td><%= estado.pais.nombre %></td> 
			<td><%= link_to 'Mostrar', mostrar_estado_path(estado.id) %></td>
			<td><%= link_to 'Editar', editar_estado_path(estado.id) %></td>
			<td><%= link_to 'Eliminar', eliminar_estado_path(estado.id), method: :delete, data: { confirm: '¿Estas seguro de eliminar?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to "Nuevo estado", nuevo_estado_path %>